<html>
<head>
	<title>Underscore</title>
</head>
<body>
	<button id="add-template">add template</button>


<!-- underscore template -->
  <script type="text/template" id="template">
    <h1>Name: <%= animal.name %></h1>
    <h3>Age:<%= animal.age %></h3>
    <h4>Species:<%=animal.species%></h4>
    <%=animal.image_url%>
  </script>
  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="app.js"></script>

</body>
</html>